# OS-specific
.DS_Store
Thumbs.db

# Java / build
bin/
out/
build/
target/
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Logs / temp
*.log
*.tmp
*.swp

# Gradle / Maven (if you use them)
.gradle/
**/build/
.mvn/
!/.mvn/wrapper/maven-wrapper.jar